<div>
    <h1 class="px-3">Almacén de Productos Geek</h1>
    <table class="table table-bordered">
        <tr id="thead">
            <th>Título</th>
            <th>Descripción</th>
            <th>Código</th>
            <th>Precio</th>
            <th>Estado</th>
            <th>Stock</th>
            <th>Categoría</th>
            <th>Imágenes</th>
            <th>Acciones</th>
        </tr>

        <tbody id="tbody">
            {{#if listOfProducts}}
                {{#each listOfProducts}}
                    <tr>
                        <td>{{title}}</td>
                        <td>{{description}}</td>
                        <td>{{code}}</td>
                        <td>{{price}}</td>
                        <td>{{status}}</td>
                        <td>{{stock}}</td>
                        <td>{{category}}</td>
                        <td>
                            {{#if thumbnails}}

                                <div>
                                    {{#each thumbnails}}
                                    
                                        <img src="{{this}}" id="thumbnail_{{@index}}" class="thumbnail" alt="thumbnails"
                                        size="100px">
                                        {{#unless @last}}
                                        <br>
                                        {{/unless}}
                                    {{/each}}
                                </div>

                            {{else}}
                                <p>No hay imágenes</p>
                            {{/if}}
                        </td>
                        <td>
                            <button class="btn btn-primary" onclick="">Agregar al Carrito</button>
                            <button class="btn btn-success" onclick="verDetalles('{{_id}}')">Ver Detalles</button>
                        </td>
                    </tr>
                {{/each}}

            {{else}}
                <tr>
                    <td colspan="9">No hay productos</td>
                </tr>
            {{/if}}
        </tbody>
    </table>
    <div class="pagination">
        {{#if hasPrevPage}}
            <a href="{{prevLink}}"><button class="btn btn-info">Anterior</button></a>
        {{/if}}

        {{#if hasNextPage}}
            <a href="{{nextLink}}"><button class="btn btn-info">Siguiente</button></a>
        {{/if}}
    </div>
</div>
<script src="/js/index2.js"></script>