<div>
    <h1 class="px-3">Almacén de Productos Geek</h1>
    <table class="table table-bordered">
        <tr id="thead">
            <th>Título</th>
            <th>Descripción</th>
            <th>Código</th>
            <th>Precio</th>
            <th>Estado</th>
            <th>Stock</th>
            <th>Categoría</th>
            <th>thumbnails</th>
            <th>Acciones</th>
        </tr>

        <tbody id="tbody">
            {{#if listOfProducts}}
                {{#each listOfProducts}}
                    <tr id="row_{{_id}}">
                        <td>{{title}}</td>
                        <td>{{description}}</td>
                        <td>{{code}}</td>
                        <td>{{price}}</td>
                        <td>{{status}}</td>
                        <td>{{stock}}</td>
                        <td>{{category}}</td>
                        <td>
                            {{#if thumbnails}}
                                <div>
                                    {{#each thumbnails}}
                                    
                                        <img src="{{this}}" id="thumbnail_{{@index}}" class="thumbnail" alt="thumbnails"
                                        size="100px">
                                        {{#unless @last}}
                                        <br>
                                        {{/unless}}
                                    {{/each}}
                                </div>
                            {{else}}
                                <p>No hay imágenes</p>
                            {{/if}}
                        </td>
                        <td>
                            <button class="btn btn-primary" onclick="agregarAlCarrito('{{_id}}')">Agregar al Carrito</button>
                            <button class="btn btn-success" onclick="verDetalles('{{_id}}')">Ver Detalles</button>
                            <button class="btn btn-danger" onclick="eliminarProducto('{{_id}}')">Eliminar</button>
                        </td>
                    </tr>
                {{/each}}
            {{else}}
                <tr>
                    <td colspan="9">No hay productos</td>
                </tr>
            {{/if}}
        </tbody>
    </table>
        <div class="pagination">
        {{#if hasPrevPage}}
            <a href="realtimeproducts/?page={{prevPage}}"><button class="btn btn-info">Anterior</button></a>
            &nbsp;
        {{/if}}
        <button class="btn btn-info">{{page}}</button>
        {{#if hasNextPage}}
            &nbsp;
            <a href="realtimeproducts/?page={{nextPage}}"><button class="btn btn-info">Siguiente</button></a>
        {{/if}}
    </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/index.js"></script>