<div>
    <h1>Almacén de Funko POPs</h1>
    <table>
        <tr id="thead">
            <th>Título</th>
            <th>Descripción</th>
            <th>Código</th>
            <th>Precio</th>
            <th>Estado</th>
            <th>Stock</th>
            <th>Categoría</th>
            <th>thumbnails</th>
            <th>Acciones</th>
        </tr>

        <tbody id="tbody">
            {{#each listOfProducts}}
                <tr id="row_{{id}}">
                    <td>{{title}}</td>
                    <td>{{description}}</td>
                    <td>{{code}}</td>
                    <td>{{price}}</td>
                    <td>{{status}}</td>
                    <td>{{stock}}</td>
                    <td>{{category}}</td>
                    <td>
                        {{#if thumbnails}}
                            <div>
                                {{#each thumbnails}}
                                
                                    <img src="{{this}}" id="thumbnail_{{@index}}" class="thumbnail" alt="thumbnails"
                                    size="100px">
                                    {{#unless @last}}
                                    <br>
                                    {{/unless}}
                                {{/each}}
                            </div>
                        {{else}}
                            <p>No hay imágenes</p>
                        {{/if}}
                    </td>
                    <td>
                        <button class="btn btn-danger" onclick="eliminarProducto('{{id}}')">Eliminar</button>
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
    <br>
    <form id="form-product">
        <div class="form-group">
            <label for="title">Título</label>
            <input type="text" class="form-control" id="title" name="title">
        </div>
        <div class="form-group">
            <label for="description">Descripción</label>
            <input type="text" class="form-control" id="description" name="description">
        </div>
        <div class="form-group">
            <label for="code">Código</label>
            <input type="text" class="form-control" id="code" name="code">
        </div>
        <div class="form-group">
            <label for="price">Precio</label>
            <input type="text" class="form-control" id="price" name="price">
        </div>
        <div class="form-group">
            <label for="status">Estado</label>
            <input type="text" class="form-control" id="status" name="status">
        </div>
        <div class="form-group">
            <label for="stock">Stock</label>
            <input type="text" class="form-control" id="stock" name="stock">
        </div>
        <div class="form-group">
            <label for="category">Categoría</label>
            <input type="text" class="form-control" id="category" name="category">
        </div>
        <div class="form-group">
            <label for="thumbnails">Imágenes</label>
            <input type="text" class="form-control" id="thumbnails" name="thumbnails">
        </div>
        <button type="submit" class="btn btn-primary" onclick="agregarProducto()">Agregar</button>
    </form>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/index.js"></script>